[submodule "extern/haikal"]
	path = extern/haikal
	url = https://www.github.com/IbrahimHindawi/haikal
[submodule "scripts"]
	path = scripts
	url = https://www.github.com/IbrahimHindawi/scripts
[submodule "extern/cglm"]
	path = extern/cglm
	url = https://github.com/recp/cglm.git
